Repository ProtonMail/bip39: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

Updated paths in index.ts
  src/index.ts
Due: none

Update README
  README.md
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

Use yarn berry version
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  yarn.lock
Due: none

Remove comment
  tsconfig.json
Due: prettier --write

Remove yarn and change husky install to prepare lifecycle
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Version 1.0.2
  package.json
Due: prettier --write, sort-package-json

Add scope @protontech
  package.json
Due: prettier --write, sort-package-json

Add scope @protontech (#2)
  package.json
Due: prettier --write, sort-package-json

TS: declare Uint8Array<ArrayBuffer> over generic Uint8Array
  package.json
  src/index.ts
Due: prettier --write, sort-package-json

TS: declare Uint8Array<ArrayBuffer> over generic Uint8Array (#3)
  package.json
  src/index.ts
Due: prettier --write, sort-package-json

1.1.0
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: ((any of: (*.ts|*.tsx|*.js)) or (any of: *.json)) or (any of: *.md)
  sort-package-json: any of: package.json
